<div class="hero-unit">
  <h1 class="center">Personalized Learning</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>Genuine Interaction</h4>
    <p>Learning is more than just a book of facts, it's a interpersonal experience. Our tutors are more than just books of knowledge, they're people with a passion for teaching and accelerating minds.</p>
  </div>
  <div class="span4">
    <h4>Experienced Tutors</h4>
    <p>At 5280 Learning, we don't allow just anyone to teach - this is a position reserved for only the most qualified. Our tutors are either professional tutors, graduate students, or professors (sometimes all of the above).</p>
  </div>
  <div class="span4">
    <h4>Guaranteed Results</h4>
    <p>We're committed to ensuring that the material we teach will be on point with what you expect. If you learn nothing, you pay nothing. Trust us, you'll have fun learning with us.</p>

    <hr>

    <p>
      <a class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
  </div>
</div>

<hr>