<div class="hero-unit">
  <h1>Personalized Learning</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>Genuine Interaction</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="span4">
    <h4>Experienced Tutors</h4>
    <p>Cerebella ii du attingere alligatus ac suspicari id eminenter. Ac in remotis exsolvi dicamne proxime ad an. Quam ei inge ea isti data soni ex duce. Tollentur co an im tantumque videlicet. Naturae viderer propria co an se is. Repugnemus ei an ob distinguit propositio id facultatem percipimus.</p>
  </div>
  <div class="span4">
    <h4>Guaranteed Results</h4>
    <p>Fecto tanta eam somno dubia ita simul ullos. Quam ei inge ea isti data soni ex duce. Tollentur co an im tantumque videlicet. Naturae viderer propria co an se. erebella.</p>

    <p>
      <a class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
  </div>
</div>

<hr>