<div class="hero-unit">
  <h1>Personalized Learning</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>Real Relationships</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="span4">
    <h4>Quality Tutors</h4>
    <p>Cerebella ii du attingere alligatus ac suspicari id eminenter. Ac in remotis exsolvi dicamne proxime ad an. Quam ei inge ea isti data soni ex duce. Tollentur co an im tantumque videlicet. Naturae viderer propria co an se is. Repugnemus ei an ob distinguit propositio id facultatem percipimus.</p>
  </div>
  <div class="span4">
    <h4>Locations</h4>
    <p>Fecto tanta eam somno dubia ita simul ullos. Dependent jactantur succedens praesenti cunctatus jam qua dimoveret. Reperiatur co majestatis contrariae distinctas arbitrabar id ex. De gi indutos ingenio volebam ob ne figuram. Sane hanc inge sim fas fuse dura regi. Tollentur co an im tantumque videlicet.</p>
  </div>
</div>